/*Configuraciones generales*/

:root{
    --azul:#141B4D;
    --rojo:#b31f2d;
    --blanco:#fff;

    --negro:#000000;
    --negro-gris:#343434;
    --gris:#575757;
    --gris-medio-claro:#696969;
    --gris-claro:#B0AEAE;

    --fuentePrincipal:'Share';
}

*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ebebeb;
}

h1{
    font-size: 32px;
    font-family: var(--fuentePrincipal);
    font-weight: bold;
}

h2{
    font-size: 28px;
    font-family: var(--fuentePrincipal);
    font-weight: bold;
}

h3{
    font-size: 24px;
    font-family: var(--fuentePrincipal);
    font-weight: bold;
}

h4{
    font-size: 20px;
    font-family: var(--fuentePrincipal);
    font-weight: bold;
}

input[type=text]{
    border: 1px solid var(--gris);
    height: 40px;
    width: 250px;
    padding: 12px;
    font-family: var(--fuentePrincipal);
    font-weight: bold;
    font-size: 16px;
}

select{
    border: 1px solid var(--gris);
    height: 40px;
    width: 250px;
    padding: 5px;
    font-family: var(--fuentePrincipal);
    font-weight: bold;
    font-size: 16px;
    color: var(--gris);
}

select::after{
    content: "";
    background-image: url(../img/flecha-arriba.png);
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
}

::placeholder{
    color: var(--gris);
}

input[type=button]{
    width: 130px;
    height: 50px;
    background-color: var(--azul);
    border-radius: 20px;
    color: var(--blanco);
    font-family: var(--fuentePrincipal);
    font-size: 20px;
    padding: 0px 0px;
    border: 0px;
}

.italic{
    font-style: italic;
}

.bold{
    font-weight: bold;
}

p{
    font-family: var(--fuentePrincipal);
    font-size: 16px;
    line-height: 1.5;
}

a{
    text-decoration: none;
    font-family: var(--fuentePrincipal);
}

ul{
    list-style: none;
}

li{
    font-family: var(--fuentePrincipal);
    font-size: 24px;
    line-height: 1.2;
    margin: 12px;
}
/*Inicio del estilo de la pagina*/

/*Barra de navegacion*/
.barra {
    display: grid;
    grid-template-columns: 1fr 0.3fr;
    grid-template-rows: auto;
    background-color: var(--azul);
}

.navegacion{
    display: flex;
    flex-direction: row;
    align-items: center;    
}

.nav-bar a{
    margin: 10px;
    font-weight: bold;
    font-size: 18px;
    color: var(--blanco);
}

.mi-cuenta {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}

.mi-cuenta > * {
    margin-right: 20px;
}

.login a > p{
    padding-right: 5px;
    color: var(--blanco);
}

.mi-cuenta {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}

.mi-cuenta > * {
    margin-right: 20px;
}

.login a{ 
    display: flex;
    flex-direction: row;
    align-items: center;
}

.titulo-pagina{
    background-color: var(--negro-gris);
    color: var(--blanco);
    padding: 15px 30px;
}

.busqueda{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 100px;
}

.busqueda img{
    width: 48px;
    height: 48px;
    border: 1px solid;
    border-radius: 50px;
    padding: 10px;
}

.calendario{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.calendario input{
    width: 50px;
    height: 50px;
    position: absolute;
    opacity: 40;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

main{
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.resultado{
    display: flex;
    flex-direction: row;
}

.partido{
    display: flex;
    flex-direction: column;
}

.partido header{
    width: auto;
    height: 40px;
}

.equipo{
    display: flex;
    justify-content: start;
    align-items: center;
    background: var(--blanco);
    height: auto;
    width: 600px;
    gap: 50px;
}

.equipo > * {
    margin-left: 30px;
}

.equipo img{
    width: 80px;
    height: 80px;
    padding: 10px;
}

table{
    background: var(--blanco);
    border-collapse: collapse;
}



th{
    background: var(--negro);
    color: var(--blanco);
    padding: 10px 20px;
}

td,th{
    text-align: center;
    font-family: var(--fuentePrincipal);
}
/*Pie de pagina*/
footer{
    background-color: var(--azul);
    color: var(--blanco);
    padding-top: 35px;
    margin-top: 20px;
}

.fo-nosotros{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px ;
    position: relative;
}

.siguenos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.redes-sociales{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}

.copyright{
    background-color: var(--negro);
    width: auto;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.copyright > h4{
    text-align: center;
}

