/*Inicio del estilo de la pagina*/

.titulo-pagina{
    background-color: var(--negro-gris);
    color: var(--blanco);
    padding: 15px 30px;
}

main{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 50px;
}

@media (min-width:744px) {
    main{
        flex-direction:row;
    }
}

.comunicados-tipos{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 420px;
    gap: 10px;
    background: var(--blanco);
}

.comunicados-tipos > header{
    background: var(--azul);
    color: var(--blanco);
    text-align: center;
    padding: 15px;
    width: 100%;
}

@media (min-width:744px) {
    .comunicados-tipos{
        width: 400px;
    }
}

.container-comunicados > div{
    background: var(--gris-claro);
    width: 90%;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    cursor: pointer;
    margin: 10px;
    margin-bottom: 15px;
    color: var(--blanco);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container-comunicados > div:nth-child(1){
    background-color: var(--gris);
}

.comunicados{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.comunicados > section{
    display: flex;
    flex-direction: column;
    border: 2px solid;
    width: 100%;
    height: 400px;
    background-color: var(--blanco);
    cursor: pointer;
    gap: 1rem;
}

.comunicados section img{
    width: 100%;
    height: 80%;
    object-fit:fill;
}

.comunicado-info{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media (min-width:744px) {
    .comunicados > section{
        flex-direction: row;
    }

    .comunicados section{
        height: 200px;
    }

    .comunicados section img{
        height: 100%;
        object-fit:cover;
        width: 320px;
    }
}

.paginacion{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.paginacion >div:nth-child(1){
    background-color: var(--azul);
}

.paginacion > div{
    width: 35px;
    height: 35px;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blanco);
}

.paginacion > div > a{
    font-family: var(--fuentePrincipal);
    font-size: 20px;
    color: var(--negro);
    font-weight:bold;
}

.paginacion > div:nth-child(1) > a{
    color: var(--blanco);
}