:root {
    --azul: #141b4d;
    --rojo: #b31f2d;
    --blanco: #fff;
  
    --negro: #000000;
    --negro-gris: #343434;
    --gris: #575757;
    --gris-medio-claro: #696969;
    --gris-claro: #b0aeae;
  
    --fuentePrincipal: "Share";
  }

  .title{
    width: 200px;
    border-bottom: 2px solid var(--azul);
    text-align: center;
    margin: 20px auto;
  }
  body{
    background-color: var(--blanco);
  }
  main section{
    width: 90%;
    margin: 0 auto;
  }
  .icon-container{
    display: flex;
    margin: 0 auto;
    width: 55px;
    height: 55px;
    justify-content: center;
    align-items: center;
    background-color: #ebebeb;
    border-radius: 50%;
  }
  .icon-container i{
    font-size: 40px;
  }
  .drag-box{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    background-color: #ebebeb;
    border: 2px dotted var(--azul);
  }
  .drag-box p {
    font-weight: bold;
  }
  .buttons-container{
    display: flex;
    height: 40px;
    max-width: 400px;
    justify-content: space-around;
  }
  .button{
    height: 100%;
    border: none;
    border-radius: 20px;
    width: 100px;
    color: var(--blanco);
    background-color: var(--azul);
  }
  .personal-data-section form label, .personal-data-section form input{
    display: block;
    font-family: 'Share';
  }
  .password-component{
    display: flex;
    align-items: center;
  }
  .icon-container--green{
    width: 40px;
    height: 40px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    border: 1px solid #11e462;
    border-radius: 50%;
  }
  .personal-data-section form input{
    background-color: #ebebeb;
    border: none;
  }
  input[type=tel]{
    border: 1px solid var(--gris);
    height: 40px;
    width: 250px;
    padding: 12px;
    font-family: var(--fuentePrincipal);
    font-weight: bold;
    font-size: 16px;
  }
  input[type=number]{
    border: 1px solid var(--gris);
    height: 40px;
    width: 250px;
    padding: 12px;
    font-family: var(--fuentePrincipal);
    font-weight: bold;
    font-size: 16px;
  }
  .personal-data-section form .button{
    width: 150px;
    height: 60px;
    margin: 15px auto;
  }
  .button-container{
    display: flex;
    align-items: center;
  }
  .comment{
    background-color: var(--gris-claro);
    display: block;
    padding: 15px;
    border: none;
  }
  .name{
    font-weight: bold;
  }
  .comment-section hr{
    height: 5px;
    background-color: var(--negro);
    margin: 10px 0;
  }
  .comment-section{
    margin-bottom: 30px;
  }
  @media screen and (min-width:768px) {
    main{
        display:flex;
        justify-content: space-around;
    }
    .divisor1,.divisor2{
        width: 50%;
    }
  }
  @media screen and (min-width:1199px) {
    .personal-data-section form{
        display: flex;
        flex-wrap: wrap;
    }
    form .space{
        display: block;
        width: 100%;
    }
    .personal-data-section form span,.personal-data-section form div{
        margin: 10px;
        box-sizing: border-box;
    }
    .button-container{
        width: 100%;
    }
  }