@import url(style.css);
.titulo-pagina{
    background-color: var(--negro-gris);
    color: var(--blanco);
    padding: 15px 30px;
}
/*-----------------------------------*/

.busqueda{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    background: var(--blanco);
    padding: 20px 30px;
}

.busqueda > div:nth-child(1)  {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.dato-entrada{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 30px;
    justify-content: end;
    align-items: center;
}

.container-boton{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-left: 30px;
}

#btn-limpiar{
    background: var(--rojo);
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px;
    row-gap: 50px;
}

.card-equipo{
    display: flex;
    width: 100%;
    height: 200px;
    align-items: center;
}

.card-equipo > img{
    width: 160px;
    height: 200px;
    margin-right: 30px;
}

.container-utilities{
    display: flex;
    flex-direction: row;
    padding-left: 50px;
    gap: 38%;
}

#dirigir-arriba > img{
    border: 1px solid;
    width: 64px;
    height: 64px;
    background: var(--blanco);
    transform: rotate(-90deg);
}

#ver-mas{
    color: var(--negro);
    background: var(--blanco);
    border: 1px solid var(--negro-gris);
    border-radius: 0;
    font-weight: bold;
}