:root{
    --azul:#141B4D;
    --rojo:#B31F2D;
    --blanco:#fff;
    --negro:#000000;
    --fuentePrincipal:'Share';
}

*{
    margin: 0 ;
    padding: 0;
}

h1{
    font-size: 32px;
    font-family: var(--fuentePrincipal);
    font-weight: bold;
}

h2{
    font-size: 28px;
    font-family: var(--fuentePrincipal);
    font-weight: bold;
}

h3{
    font-size: 24px;
    font-family: var(--fuentePrincipal);
    font-weight: bold;
}

h4{
    font-size: 20px;
    font-family: var(--fuentePrincipal);
    font-weight: bold;
}

.italic{
    font-style: italic;
}

.bold{
    font-weight: bold;
}

p{
    font-family: var(--fuentePrincipal);
    font-size: 16px;
    line-height: 1.5;
}

a{
    text-decoration: none;
    font-family: var(--fuentePrincipal);
}

.icon{
    fill: white;
}

.barra {
    display: grid;
    grid-template-columns: 1fr 0.3fr;
    grid-template-rows: auto;
    background-color: var(--azul);
}

.navegacion{
    display: flex;
    flex-direction: row;
    align-items: center;    
}

.nav-bar a{
    margin: 10px;
    font-weight: bold;
    font-size: 18px;
    color: var(--blanco);
}

.mi-cuenta {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}

.mi-cuenta > * {
    margin-right: 20px;
}

.login a > p{
    padding-right: 5px;
    color: var(--blanco);
}

.boton{
    width: 150px;
    height: 80px;
    border-radius: 20px;
    font-family: var(--fuentePrincipal);
    font-size: 20px;
    color: var(--blanco);
}

.btn-navegar{
    background: var(--azul);
}

.login a{
    display: flex;
    align-items: center;    
}

.carrusel{
    background-image: url("../Images/Element.jpg");
    height: 500px;
    width: auto;
}

.flecha{
    background-color: var(--blanco);
    border-radius: 50px;
}
#texto-presentacion{
    color:var(--blanco);
}

.flecha{
    color: var(--blanco);
}

.sec-partidos{
    display: flex;
    align-items: center;
}

.partidos{
    display: flex;
    flex-direction: row;
}

.card-partido{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.card-equipos{
    display: flex;
}

.noticia-act{
    background-image: url("../Images/1471916005_0\ 1.png");
    width: 800px;
    height: 500px;
}

.sect-noticias{
    display: flex;
    flex-direction: row;
}

#mas-equipos{
    background: linear-gradient(180deg, #B31F2D 9.9%, #141B4D 92.19%);
}

.info-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.info-footer > div{
    margin: 20px;
}