:root{
    --azul:#141B4D;
    --rojo:#b31f2d;
    --blanco:#fff;

    --negro:#000000;
    --negro-gris:#343434;
    --gris:#575757;
    --gris-medio-claro:#696969;
    --gris-claro:#B0AEAE;

    --fuentePrincipal:'Share';
}

*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ebebeb;
}

h1{
    font-size: 32px;
    font-family: var(--fuentePrincipal);
    font-weight: bold;
}

h2{
    font-size: 28px;
    font-family: var(--fuentePrincipal);
    font-weight: bold;
}

h3{
    font-size: 24px;
    font-family: var(--fuentePrincipal);
    font-weight: bold;
}

h4{
    font-size: 20px;
    font-family: var(--fuentePrincipal);
    font-weight: bold;
}

input[type=text]{
    border: 1px solid var(--gris);
    height: 40px;
    width: 250px;
    padding: 12px;
    font-family: var(--fuentePrincipal);
    font-weight: bold;
    font-size: 16px;
}

select{
    border: 1px solid var(--gris);
    height: 40px;
    width: 250px;
    padding: 5px;
    font-family: var(--fuentePrincipal);
    font-weight: bold;
    font-size: 16px;
    color: var(--gris);
}

select::after{
    content: "";
    background-image: url(../img/flecha-arriba.png);
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
}

::placeholder{
    color: var(--gris);
}

input[type=button]{
    width: 130px;
    height: 50px;
    background-color: var(--azul);
    border-radius: 20px;
    color: var(--blanco);
    font-family: var(--fuentePrincipal);
    font-size: 20px;
    padding: 0px 0px;
    border: 0px;
}

.italic{
    font-style: italic;
}

.bold{
    font-weight: bold;
}

p{
    font-family: var(--fuentePrincipal);
    font-size: 16px;
    line-height: 1.5;
}

a{
    text-decoration: none;
    font-family: var(--fuentePrincipal);
}

ul{
    list-style: none;
}

li{
    font-family: var(--fuentePrincipal);
    font-size: 24px;
    line-height: 1.2;
    margin: 12px;
}

/*Titulo*/
.titulo-pagina{
    background-color: var(--negro-gris);
    color: var(--blanco);
    padding: 15px 30px;
}
/*contenedor principal*/

/*Seccion de busqueda*/
main{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 20px;
}

.busqueda{
    background: var(--blanco);
    width: 100%;
    padding: 15px;
    height: 550px;
}

.dato-entrada{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
}

.dato-entrada input[type=text],.dato-entrada select{
    width: 80%;
}

.container-boton{
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    margin-top: 50px;
}

#btn-limpiar{
    background-color: var(--rojo);
}

/*Fin Seccion de busqueda*/

/*Seccion noticias*/
.noticias{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.paginacion{
    display: flex;
    gap: 10px;
    margin: 10px 20px;
}

.paginacion > div{
    width: 35px;
    height: 40px;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blanco);
}

.paginacion > div:nth-child(1){
    background-color: var(--azul);
}

.paginacion > div:nth-child(1) a{
    color: var(--blanco);
}

.paginacion > div > a{
    font-family: var(--fuentePrincipal);
    font-size: 20px;
    color: var(--negro);
    font-weight:bold;
}

.noticias > article{
    border: 1px solid var(--negro-gris);
    background: var(--blanco);
    width: 100%;
}

.noticias > article > img{
    width: 100%;
    height: 250px;
    image-rendering:auto;
    object-fit:cover;
}


.article-info{
    position: relative;
    width: 100%;
    height: 200px;
}

.article-info > *{
    position: absolute;
}

.article-info .fecha{
    top: 10px;
    left: 20px;
}

.article-info .titulo{
    top: 50px;
    left: 20px;
}

.article-info .compartir-en{
    display: flex;
    bottom: 20px;
    right: 5px;
    gap: 10px;
}

.article-info .ver-mas{
    bottom: 20px;
    left: 20px;
    border: 3px solid var(--gris-medio-claro);
    background-color: var(--blanco);
    color: var(--negro-gris);
    font-weight: bold;
    width: 116px;
    height: 50px;
}

#paginacion-abajo{
    margin-bottom: 30px;
}
/*Fin Seccion noticias*/

@media (min-width:744px) {
    .busqueda{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0px;
        height: 320px;
    }

    .dato-entrada{
        margin-bottom: 0px;
    }

    .container-boton{
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .container-boton input[type="button"]{
        width: 250px;
    }
}

@media (min-width:1200px) {
    main{
        flex-direction: row;
    }

    .busqueda{
        width: 400px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: 550px;
    }

    .article-info .compartir-en{
        gap: 30px;
        right: 20px;
    }
}