@import url(style.css);
body{
    background-color: var(--blanco);
}

.producto-id{
    color: var(--gris);
    border-bottom: 1px solid;
    padding: 15px;
}

.btn-añadir{
    font-family: var(--fuentePrincipal);
    font-size: 18px;
    font-weight: bold;
    background: var(--azul);
    color: var(--blanco);
    border: 0;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.75);
    padding: 8px;
    gap: 20px;
    height: 50px;
    width: 400px;
    margin-top: 20px;
}

.btn-añadir img{
    width: 32px;
    height: 32px;
}

.producto{
    display: flex;
}

.producto-imagen > img{
    height: 600px;
    width: 650px;
}

.producto-info{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.producto-descripcion{
    margin-right: 30px;
}

#producto-categoria{
    color: var(--rojo);
    margin-top: 10px;
    margin-bottom: 50px;
}

.dato{
    display: flex;
    gap: 60px;
    justify-content: start;
    margin: 20px 0;
    align-items: center;
}

#cmb-cantidad{
    width: 100px;
}

.container-boton{
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-otros-articulos{
    margin: 25px;
}

.otros-articulos{
    display: flex;
    flex-direction: row;
    border-top: 5px solid;
    border-bottom: 5px solid;
    padding: 0 30px;
    gap: 30px;
}

.card-producto{
    width: 300px;
}
.card-producto-imagen img{
    width: 100%;
    height: 250px;
}

.card-producto-info{
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.card-categoria{
    margin-top: 10px;
}

.btn-card{
    width: 220px;
    margin-bottom: 20px;
}