:root {
    --azul: #141b4d;
    --rojo: #b31f2d;
    --blanco: #fff;
  
    --negro: #000000;
    --negro-gris: #343434;
    --gris: #575757;
    --gris-medio-claro: #696969;
    --gris-claro: #b0aeae;
  
    --fuentePrincipal: "Share";
  }
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #ebebeb;
  }
  
  h1 {
    font-size: 32px;
    font-family: var(--fuentePrincipal);
    font-weight: bold;
  }
  
  h2 {
    font-size: 28px;
    font-family: var(--fuentePrincipal);
    font-weight: bold;
  }
  
  h3 {
    font-size: 24px;
    font-family: var(--fuentePrincipal);
    font-weight: bold;
  }
  
  h4 {
    font-size: 20px;
    font-family: var(--fuentePrincipal);
    font-weight: bold;
  }
  
  .italic{
    font-style: italic;
  }
  
  .bold{
    font-weight: bold;
  }
  
  p{
    font-family: var(--fuentePrincipal);
    font-size: 16px;
    line-height: 1.5;
  }
  
  a{
    text-decoration: none;
    font-family: var(--fuentePrincipal);
  }
  
  ul{
    list-style: none;
  }
  
  li{
    font-family: var(--fuentePrincipal);
    font-size: 24px;
    line-height: 1.2;
    padding: 12px;
  }
  
  .material-icons {
    font-size: 47px;
  }

  /*Inicio secciones nosotros*/
  .cabecera{
    margin-top: 50px;
    margin-left: 20px;
  }

  section{
    margin: 10px 20px;
  }

  .sec__nosotros > article{
    margin: 25px 0;
  }

  .sec__nosotros .container-mision{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .container-mision span{
    background-color: var(--blanco);
    border-radius: 100px;
    border: 8px solid var(--azul);
  }

  .art__vision-container span img{
    width: 323px;
    height: 188px;
    display: none;
  }
  /*Fin secciones nosotros*/

  /*Seccion de contacto*/
  .sec__contactanos h2{
    text-align: center;
    margin-bottom: 20px;
  }

  .sec__contactanos-cards{
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .sec__contactanos_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 15px;
    background-color: var(--negro-gris);
    box-shadow: 11px 16px 20px rgba(0, 0, 0, 0.5);
    color: var(--blanco);
  }
  /*Fin de seccion contacto*/

@media (min-width: 768px) {

  .titulo-vision{
    text-align: end;
    margin-right: 39%;
  }

  .art__vision-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    justify-content: center;
    margin-top: 20px;
  }

  .art__vision-container span img{
    width: 100%;
    height: 100%;
    display: block;
  }
  .art__vision-p-buttom{
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .container-mision span{
    width: 600px;
  }

  .container-mision span img{
    width: 100%;
    height: 100%;
  }

}