@import url(style.css);

main{
   display: grid;
   margin: 20px;
}
.busqueda{
    background: var(--blanco);
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    height: 650px;
}

.busq-para{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btn-filter{
    width: fit-content;
    font-size: large;
    background-color: white;
    cursor: pointer;
    padding: 3px;
    border: 1px solid;
}

.btn-filter i{
    width: 32px;
}

.checkbox{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    font-family: var(--fuentePrincipal);
}

.checkbox input{
    width: 15px;
    height: 15px;
}

.dato-entrada{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.dato-entrada input, .dato-entrada select{
    width: 100%;
}

.container-boton{
    margin: 20px 0;
}

.container-checkbox{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (min-width:700px){
    .busqueda{
        grid-template-columns: 1fr 1fr;
        gap: 16px;
    }

    .busqueda .dato-entrada:nth-child(3){
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .busq-para{
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .container-checkbox {
        display: flex;
        flex-direction: row;
        gap: 30px;
    }

    .container-boton{
        display: flex;
        gap: 50px;
    }
}

@media (min-width:1200px){
    main{
       grid-template-columns: 350px 1fr;
       gap: 20px;
    }

    .busqueda{
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .busqueda .dato-entrada:nth-child(3){
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .busq-para{
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .container-checkbox {
        display: flex;
        flex-direction: column;
    }

    .btn-filter{
        display: none;
    }
}

.sec-productos{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sec-productos header{
    display: flex;
    gap: 30px;
}

.mostrar{
    display: flex;
    align-items: center;
    gap: 10px;
    display: none;
}

@media (min-width:1200px) {
    .mostrar{
        display: flex;
    }
}

.tgl-busqueda{
    display: none;
}



.productos{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px,1fr));
    gap: 10px;
}

.producto{
    display: flex;
    flex-direction: column;
}

.producto > a{
    height: 240px;
    background-color: var(--blanco);
    text-align: center;
}

.producto > a> img{
    height: 100%;
    object-fit: cover;
    max-width: 260px;
}

.info-producto{
    background: var(--blanco);
    height: 200px;
    padding: 8px;
    position: relative;
    max-width: 1fr;
}

.btn-añadir{
    font-family: var(--fuentePrincipal);
    font-size: 18px;
    font-weight: bold;
    background: var(--azul);
    color: var(--blanco);
    border: 0;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.75);
    padding: 8px;
    gap: 20px;
    position: absolute;
    bottom: 30px;
}

.btn-añadir img{
    width: 40px;
    height: 40px;
}


#mostrar-pag{
    width: 50px;
}

#limpiar{
    background: var(--rojo);
}

.paginacion{
    display: flex;
    gap: 3px;
}

.paginacion > div{
    width: 30px;
    height: 35px;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blanco);
}

.paginacion > div > a{
    font-family: var(--fuentePrincipal);
    font-size: 20px;
    color: var(--negro);
    font-weight:bold;
}

main .paginacion{
    margin-bottom: 30px;
}