:root {
  --azul: #141b4d;
  --rojo: #b31f2d;
  --blanco: #fff;

  --negro: #000000;
  --negro-gris: #343434;
  --gris: #575757;
  --gris-medio-claro: #696969;
  --gris-claro: #b0aeae;

  --fuentePrincipal: "Share";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ebebeb;
}

h1 {
  font-size: 32px;
  font-family: var(--fuentePrincipal);
  font-weight: bold;
}

h2 {
  font-size: 28px;
  font-family: var(--fuentePrincipal);
  font-weight: bold;
}

h3 {
  font-size: 24px;
  font-family: var(--fuentePrincipal);
  font-weight: bold;
}

h4 {
  font-size: 20px;
  font-family: var(--fuentePrincipal);
  font-weight: bold;
}

.material-icons {
  font-size: 47px;
}

/* header y nav-bar */

.nav__logo {
  order: 1;
}

nav {
  display: grid;
  grid-template-columns: 0fr 1fr 0fr;
  background-color: var(--azul);
  padding: 10px 15px;
}
.menu {
  order: 2;
  margin: auto 0;
}
nav .logo {
  font-weight: 700;
}

.algo {
  display: flex;
  flex-direction: row;
  order: 4;
  margin: auto;
}
.carrito {
  margin: 0 2.5rem;
}

.login {
  display: flex;
  flex-direction: row;
  align-items: center;
  order: 4;
}

.login p {
  width: 100px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  order: 2;
}
nav a {
  text-decoration: none;
  color: white;
}
nav #toggle,
nav label {
  display: none;
}

@media (max-width: 1000px) {
  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .nav__logo {
    order: 1;
  }

  .algo {
    order: 1;
    margin: inherit;
  }

  .login p {
    display: none;
  }
  nav .menu {
    width: 100%;
    height: 0;
    overflow: hidden;
    margin-right: 0;
  }
  nav ul {
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0;
  }
  nav label {
    display: inline-flex;
    color: white;
    cursor: pointer;
  }
  nav #toggle:checked ~ .menu {
    height: 100%;
  }
}

/* Termina nav-bar */

/* Inicio carrucel */

.carrusel {
  background-image: url("../Images/Element.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
  width: 100%;
  position: relative;
  object-fit: cover;
}

.crl-titulo {
  position: absolute;
  bottom: 78%;
  left: 50%;
  height: 300px;
  width: 196px;
  transform: translate(-50%, 100%);
}

.carrusel h1 {
  color: var(--blanco);
  text-align: center;
}

@media (min-width: 768px) {
  .crl-titulo {
    position: absolute;
    bottom: 50%;
    left: 50%;
    height: 300px;
    width: 543px;
    transform: translate(-50%, 100%);
  }

  .carrusel h1 {
    color: var(--blanco);
    text-align: justify;
  }
}
.flecha {
  background-color: var(--blanco);
  border-radius: 50px;
  padding: 10px;
  width: 64px;
  height: 64px;
}

.fl-carrusel-izquierda {
  position: absolute;
  top: 40%;
  left: 5%;
  width: 50px;
  height: 50px;
  background-color: var(--negro);
}

.fl-carrusel-derecha {
  position: absolute;
  top: 40%;
  right: 5%;
  width: 50px;
  height: 50px;
  background-color: var(--negro);
}

.container-circulo {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 768px) {
  .container-circulo {
    gap: 100px;
  }
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--negro);
}

/* Aqui inicia la seccion X */

.sec-partidos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-fecha {
  display: flex;
  align-items: center;
  border: 1px solid var(--negro);
  border-top: 20px solid var(--azul);
  padding: 12px;
  background-color: var(--blanco);
  color: var(--gris);
}

.partidos {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  overflow-y: clip;
  overflow-x: scroll;
  white-space: nowrap;
}

.card-partido {
  display: flex;
  flex-direction: column;
  background-color: var(--blanco);
  border: 1px solid var(--negro);
}

.container-versus {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
}

.container-puntaje {
  background-color: var(--negro-gris);
  color: var(--blanco);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px;
}

.carrusel-partidos {
  display: none;
  gap: 20px;
}

.boton{
  width: 120px;
  height: 45px;
  border-radius: 13px;
  font-family: var(--fuentePrincipal);
  font-size: 18px;
  color: var(--blanco);
}

.btn-navegar{
  background: var(--azul);
}

@media (min-width: 1000px) {
  .carrusel-partidos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 30px;
  }
}
.container-mover {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.flecha-partidos{
  border: solid var(--negro);
  margin: 0 0px;
  color: var(--negro);
}

/* Fin de la seccion x */

/* Inicio de la seccion noticias */

.sect-noticias{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 10px 0;
}

@media (min-width:768px){
   .sect-noticias{
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: 1fr;
   }

}

.noticia-act{
  background-image: url("../Images/Titular\ 1\ Foto.png");
  object-fit: cover;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 10px;
}

.noticia-act h2{
  max-width: 624px;
}

.titular-imagen{
  color: var(--blanco);
}

.noticias-titulares{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--negro);
  border-radius: 20px;
  background-color: var(--blanco);
  box-shadow: 5px 5px 10px 3px rgba(0,0,0,0.75);
  margin: 10px;
  padding: 10px;
}



.noticias-titulares > h2{
  color: red;
  margin-top: 20px;
}

.circulo{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--azul);
}

.titulares{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.titulares > div{
  display: grid;
  grid-template-columns: .1fr 1fr;
  gap: 20px;
  align-items: center;
  justify-items: center;
}

/* Fin seccion noticias */

/* Inicio seccion destacado */

.titulo-popular{
  text-align: center;
  margin: 50px;
}

.sec-popular{
  display: grid;
  grid-template-rows: repeat(2, 292px);
}

@media (min-width:768px){
  .sec-popular{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 400px;
  } 

}

.jugador-popular{
  background-image: url(../Images/Jugador\ Foto\ 1.png);
  object-fit: cover;
  background-size: cover;
  background-position: center;
  position: relative;

}

.info-jugador{
  display: flex;
  flex-direction: column;
  background-color: var(--blanco);
  padding: 15px 30px 15px 15px;
  gap: 5px;
  position: relative;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 40.0%, #B0AEAE 95.31%);
  background-color: var(--blanco);
}

@media (min-width:768px){
  .info-jugador{
    padding: 25px;
  } 

}

.info-jugador > p{
  margin-right: 32PX;
}

@media (min-width:768px){ 
  .info-jugador > p{
    margin: 30px 50px 0 0;
  }
}

.flecha-jugador-derecha,
.flecha-jugador-izquierda{
  display: none;
}


@media (min-width:768px){

  .flecha-jugador-derecha,
.flecha-jugador-izquierda{
  display: initial;
}
  .flecha-jugador-izquierda{
    background-color: var(--azul);
    position: absolute;
    left: 10px;
    top: 50%;
  }
  
  .flecha-jugador-derecha{
    background-color: var(--azul);
    position: absolute;
    right: 10px;
    top: 50%;
  } 

}

.equipo-logo{
  position: absolute;
  bottom: 5%;
  right: 15px;
}

/* Termina seccion destacado */

/* Inicia seccion equipos */
.titulo-sec-equipos{
  text-align: center;
  margin: 30px 0px;
}

.sec-equipos{
  display: flex;
  justify-content: space-around;
  gap: 20px;
  overflow-y: clip;
  overflow-x: scroll;
  white-space: nowrap;
  background: linear-gradient(180deg, #B31F2D 9.9%, #141B4D 92.19%);
  height: 420px;
  padding: 20px 10px;
  margin-bottom: 30px;
}

.sec-equipos div{
  width: 250px;
  height: auto;
  background-color: var(--blanco);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding: 10px 5px;
  border: 3px solid var(--negro);
  border-radius: 30px;
  background-color: var(--gris-claro);
  transition-duration:300ms ;
}

.sec-equipos div:hover{
  scale: 1.1;
}

.boton-link{
  background-color: var(--azul);
  border-radius: 20px;
  height: 100px;
  width: 150px;
  padding: 10px;
  color: var(--blanco);
  font-family: var(--fuentePrincipal);
  font-size: 20px;
  font-weight: bold;
}

/* Termina seccion equipos */

/* Inicio footer */
footer{
    background-color: var(--azul);
    color: var(--blanco);
    padding-top: 35px;
}

.fo-nosotros{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px ;
  position: relative;
  gap: 20px;
}
@media (min-width:768px){
  .fo-nosotros{
    flex-direction: row;
    align-items: center;
  }

}

.siguenos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    order: -1;
}

@media (min-width:768px){ 
   .siguenos{
    order: initial;
   }
}

.redes-sociales{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

@media (min-width:768px){ 
  .redes-sociales{
    gap: 50px;
  }
}

.copyright{
    background-color: var(--negro);
    width: auto;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.copyright > h4{
    text-align: center;
}